body {
  font-family: Arial;
  background: #f2f7f8;
  text-align: center;
  padding: 20px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

input, select, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

button {
  background: #0aa;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
